RAW DATA PRE-PROCESSING

In [1]:
'''
Read raw biomarker data from csv, flatten by collection date
re-arrange the biomarkers in suitable date: day 1 = admission date
mark conflicting, missing data for manual correction
'''
import numpy as np
import pandas as pd

data_path = "../../data/"
raw_data = data_path + "updated_rawdata_2024_v22.xlsx"
orig_data = data_path + "All CENTER TRAJ data (to share) 6-3-19 v2.xlsx"
tony_462 = data_path + "462_samples_with_adm_date_updated_v2.csv"

validation_results = '../../results/validation/new_data02.csv'
validation_missing_data = '../../results/validation/new_missing_data1.csv'

In [2]:
rawdf = pd.read_excel(raw_data, sheet_name="Sheet1", header=0)
orgdf = pd.read_excel(orig_data, sheet_name="adjusted", header=0)
tdf = pd.read_csv(tony_462, header = 0)

d:\Applications\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
target_col_name = tdf.columns.tolist()
target_data_type = tdf.dtypes

In [4]:
new_col_name = ['extra', 'Id', 'NSE', 'Date','Sample', 'S100B', 'GFAP','Tau', 'UCH-L1', 'NFL']
biomarkers = ['NSE', 'S100B', 'GFAP','Tau', 'UCH-L1', 'NFL']

df = rawdf[rawdf['subjectId'].isin(tdf['subjectId_x'])]

subjects = df['subjectId'].unique()
df.columns = new_col_name
df.loc[:, 'extra'] = None

dftest = df[df.loc[:, 'Id'] == '2AAC636']
print(dftest)
min_idx = dftest['Date'].dropna().idxmin()
print(dftest.loc[min_idx, 'NSE'])
fst_day = dftest.loc[min_idx, 'Date'] + pd.Timedelta(days=2)
if dftest['Date'].isin([fst_day]).any():
    nx_idx = dftest['Date'].index[dftest['Date'] == fst_day]
    print(dftest.loc[nx_idx, 'GFAP'])
else:
    print('Not found')

     extra       Id     NSE       Date      Sample  S100B  GFAP     Tau  \
1184  None  2AAC636  156.60        NaT  BIOM049633  3.420  1.41  133.30
1185  None  2AAC636   17.54 1970-01-16  BIOM094097  0.040  0.25    1.21
1186  None  2AAC636   33.89 1970-01-03  BIOM094105  0.177  2.55    3.76
1187  None  2AAC636   27.54 1970-01-05  BIOM094113  0.179  0.45    1.38

       UCH-L1     NFL
1184  1332.75   33.02
1185   101.06  610.90
1186   140.28   64.16
1187    57.71  119.17
33.89
1187    0.45
Name: GFAP, dtype: float64

In [35]:
value_map = {
    'Collection_date_'  : 'Date',
    'sampleid_'         : 'Sample',
    'NSE_'              : 'NSE',
    'S100B_'            : 'S100B',
    'GFAP_'             : 'GFAP',
    'Tau_'              : 'Tau',
    'UCH-L1_'           : 'UCH-L1',
    'NFL_'              : 'NFL'
}
dfx = pd.DataFrame(columns=target_data_type.index)
for i, id in enumerate(subjects):
    dfi = df[df.loc[:, 'Id'] == id]
    # print('dfi = \n', dfi)
    nday = dfi['Date'].dropna().min()
    # row = {}
    dfx.loc[i, 'subjectId_x'] = id
    counter = 0
    for j in range(min(5, len(dfi))):
        if counter > 4:
            break
        
        if dfi['Date'].isin([nday]).any():
            # idx_day = dfi['Date'].isin([nday]).index[0]
            idx_days = dfi[dfi['Date'] == nday].index
            if (len(idx_days) > 1):
                dfx.loc[i, 'Manual_Review'] = 'B'
            for ix, idx_day in enumerate(idx_days):
                col_suffix = str(counter + 1)
                for k, v in value_map.items():
                    dfx.loc[i, k + col_suffix] = dfi.loc[idx_day, v]
                counter += 1
                if counter > 4:
                    break
        else:
            counter += 1
        nday = nday + pd.Timedelta(days=1)                        
            
        
            
    if (counter < 5 and dfi['Date'].isnull().any()):
        dfx.loc[i, 'Manual_Review'] = 'A'
print(dfx.shape)

(461, 46)

In [17]:
print(dfx)

    subjectId_x Hospital.ICUAdmDate Subject.PatientType  \
0       6yeM346                 NaN                 NaN
1       9Ydj395                 NaN                 NaN
2       9Khz638                 NaN                 NaN
3       6ban548                 NaN                 NaN
4       4uVH383                 NaN                 NaN
..          ...                 ...                 ...
456     1kAg181                 NaN                 NaN
457     8AZV086                 NaN                 NaN
458     8jAn024                 NaN                 NaN
459     5BwA829                 NaN                 NaN
460     5btz622                 NaN                 NaN

    Subject.DateOfAdmission    Collection_date_1    Collection_date_2  \
0                       NaN  1970-01-01 00:00:00  1970-01-02 00:00:00
1                       NaN  1970-01-01 00:00:00  1970-01-02 00:00:00
2                       NaN  1970-01-02 00:00:00  1970-01-03 00:00:00
3                       NaN  1970-01-02 00:00:00  1970-01-03 00:00:00
4                       NaN  1970-01-02 00:00:00  1970-01-03 00:00:00
..                      ...                  ...                  ...
456                     NaN  1970-01-01 00:00:00  1970-01-02 00:00:00
457                     NaN  1970-01-02 00:00:00  1970-01-03 00:00:00
458                     NaN  1970-01-02 00:00:00  1970-01-03 00:00:00
459                     NaN  1970-01-02 00:00:00                  NaN
460                     NaN  1970-01-01 00:00:00  1970-01-02 00:00:00

       Collection_date_3    Collection_date_4    Collection_date_5  \
0    1970-01-03 00:00:00                  NaN  1970-01-05 00:00:00
1    1970-01-03 00:00:00  1970-01-04 00:00:00  1970-01-05 00:00:00
2    1970-01-04 00:00:00  1970-01-05 00:00:00  1970-01-06 00:00:00
3    1970-01-04 00:00:00  1970-01-05 00:00:00  1970-01-06 00:00:00
4    1970-01-04 00:00:00  1970-01-05 00:00:00                  NaN
..                   ...                  ...                  ...
456                  NaN  1970-01-04 00:00:00  1970-01-05 00:00:00
457  1970-01-04 00:00:00  1970-01-05 00:00:00  1970-01-06 00:00:00
458  1970-01-04 00:00:00  1970-01-05 00:00:00  1970-01-06 00:00:00
459  1970-01-04 00:00:00  1970-01-05 00:00:00  1970-01-06 00:00:00
460                  NaN                  NaN                  NaN

     sampleid_1  ... UCH-L1_3 UCH-L1_4 UCH-L1_5   NFL_1   NFL_2   NFL_3  \
0    BIOM006857  ...    85.78      NaN    69.61   13.57  129.59  115.79
1    BIOM100337  ...   158.38    47.27    47.46   34.78   51.32   47.14
2    BIOM006913  ...   170.02    510.6   123.49   20.38   57.71   49.63
3    BIOM101089  ...   118.25    62.67    31.99   44.04   46.57   39.72
4    BIOM102049  ...   605.45   260.26      NaN   31.59  172.55  128.48
..          ...  ...      ...      ...      ...     ...     ...     ...
456  BIOM000641  ...      NaN   949.03  1005.66   51.53  128.69     NaN
457  BIOM000305  ...    38.12     10.6    15.97   33.56   45.56   42.31
458  BIOM000257  ...      NaN    41.25    20.95   16.14    49.5     NaN
459  BIOM006753  ...      NaN  1382.39      NaN  622.63     NaN     NaN
460  BIOM037897  ...      NaN      NaN      NaN   46.12  136.64     NaN

      NFL_4   NFL_5 subjectId_y Manual_Review
0       NaN  148.54         NaN             A
1     48.87   65.83         NaN           NaN
2     79.41   79.61         NaN           NaN
3     42.11    44.7         NaN           NaN
4    122.97     NaN         NaN             B
..      ...     ...         ...           ...
456  188.64  237.36         NaN           NaN
457   51.64    69.9         NaN           NaN
458   92.17  147.97         NaN             B
459  475.02     NaN         NaN             A
460     NaN     NaN         NaN           NaN

[461 rows x 46 columns]

In [80]:
# Export to file for manual correction
print(dfx)

    subjectId_x Hospital.ICUAdmDate Subject.PatientType  \
0       6yeM346                 NaN                 NaN
1       9Ydj395                 NaN                 NaN
2       9Khz638                 NaN                 NaN
3       6ban548                 NaN                 NaN
4       4uVH383                 NaN                 NaN
..          ...                 ...                 ...
456     1kAg181                 NaN                 NaN
457     8AZV086                 NaN                 NaN
458     8jAn024                 NaN                 NaN
459     5BwA829                 NaN                 NaN
460     5btz622                 NaN                 NaN

    Subject.DateOfAdmission Collection_date_1 Collection_date_2  \
0                       NaN        1970-01-01        1970-01-02
1                       NaN        1970-01-01        1970-01-02
2                       NaN        1970-01-02        1970-01-03
3                       NaN        1970-01-02        1970-01-03
4                       NaN        1970-01-02        1970-01-03
..                      ...               ...               ...
456                     NaN        1970-01-01        1970-01-02
457                     NaN        1970-01-02        1970-01-03
458                     NaN        1970-01-02        1970-01-03
459                     NaN        1970-01-02               NaT
460                     NaN        1970-01-01        1970-01-02

    Collection_date_3 Collection_date_4 Collection_date_5  sampleid_1  ...  \
0          1970-01-03               NaT        1970-01-05  BIOM006857  ...
1          1970-01-03        1970-01-04        1970-01-05  BIOM100337  ...
2          1970-01-04        1970-01-05        1970-01-06  BIOM006913  ...
3          1970-01-04        1970-01-05        1970-01-06  BIOM101089  ...
4          1970-01-04        1970-01-05               NaT  BIOM102049  ...
..                ...               ...               ...         ...  ...
456               NaT        1970-01-04        1970-01-05  BIOM000641  ...
457        1970-01-04        1970-01-05        1970-01-06  BIOM000305  ...
458        1970-01-04        1970-01-05        1970-01-06  BIOM000257  ...
459        1970-01-04        1970-01-05        1970-01-06  BIOM006753  ...
460               NaT               NaT               NaT  BIOM037897  ...

    UCH-L1_3 UCH-L1_4 UCH-L1_5   NFL_1   NFL_2   NFL_3   NFL_4   NFL_5  \
0      85.78      NaN    69.61   13.57  129.59  115.79     NaN  148.54
1     158.38    47.27    47.46   34.78   51.32   47.14   48.87   65.83
2     170.02   510.60   123.49   20.38   57.71   49.63   79.41   79.61
3     118.25    62.67    31.99   44.04   46.57   39.72   42.11   44.70
4     605.45   260.26      NaN   31.59  172.55  128.48  122.97     NaN
..       ...      ...      ...     ...     ...     ...     ...     ...
456      NaN   949.03  1005.66   51.53  128.69     NaN  188.64  237.36
457    38.12    10.60    15.97   33.56   45.56   42.31   51.64   69.90
458      NaN    41.25    20.95   16.14   49.50     NaN   92.17  147.97
459      NaN  1382.39      NaN  622.63     NaN     NaN  475.02     NaN
460      NaN      NaN      NaN   46.12  136.64     NaN     NaN     NaN

     subjectId_y  Manual_Review
0            NaN              *
1            NaN            NaN
2            NaN            NaN
3            NaN            NaN
4            NaN              *
..           ...            ...
456          NaN            NaN
457          NaN            NaN
458          NaN              *
459          NaN              *
460          NaN            NaN

[461 rows x 46 columns]

In [36]:
dfx.to_csv(validation_results, header=True, index=False)

In [88]:
# Data that need to update manually selected 18 rows
missing_data_id = dfx[dfx['Manual_Review'] == 'A']['subjectId_x']
dfy = df[df['Id'].isin(missing_data_id)]
dfy = dfy[dfy['Date'].isnull()]
dfy.to_csv(validation_missing_data, header=True, index=False)
print(dfy)

     extra       Id     NSE Date      Sample     S100B    GFAP     Tau  \
0     None  6yeM346   10.29  NaT  BIOM006825     0.012    1.18    1.60
673   None  8Epx355   17.12  NaT  BIOM094185     0.388    0.36    3.04
1065  None  7keL575   32.95  NaT  BIOM064913     0.448  129.05   62.23
1068  None  7keL575   49.41  NaT  BIOM065009     1.570  131.22   84.03
1184  None  2AAC636  156.60  NaT  BIOM049633     3.420    1.41  133.30
2504  None  5nrb942   16.13  NaT  BIOM047337     0.159   13.34   10.98
3868  None  3xSE269   13.88  NaT  BIOM048257     0.214   42.24    4.89
4417  None  5hki863   46.09  NaT  BIOM046049     0.750   27.05   74.63
6870  None  3TjZ823   10.17  NaT  BIOM030849     0.030    0.24    0.91
7438  None  3gMW929   19.36  NaT  BIOM017953     0.255   23.47    9.14
7595  None  5Hem626   27.59  NaT  BIOM008273     0.412   38.09   10.62
7607  None  8cmk298   11.16  NaT  BIOM017721     0.040    0.18    0.85
7609  None  8cmk298   15.30  NaT  BIOM045913     0.050     NaN     NaN
7806  None  3Dsy246   41.57  NaT  BIOM008265     0.466   32.95   18.05
8232  None  1YaA080  192.10  NaT  BIOM008561  2800.000  327.22  264.14
8360  None  9EOT115    6.20  NaT  BIOM007969     0.041    0.84    2.53
8384  None  5ZtE755   15.24  NaT  BIOM013241     0.030    0.71    5.72
8682  None  5BwA829   95.35  NaT  BIOM006721  1010.000     NaN     NaN

       UCH-L1      NFL
0       33.94   109.15
673    336.23    20.43
1065  1090.98   125.35
1068  1223.75   114.78
1184  1332.75    33.02
2504   421.83   218.04
3868    85.85    53.01
4417  1016.13    59.90
6870    49.41   272.23
7438   458.01    42.87
7595   646.06    97.19
7607    57.73   128.87
7609      NaN      NaN
7806   446.20   331.91
8232  5363.11   948.83
8360    65.03    15.86
8384   110.74  1657.80
8682      NaN      NaN